 @page "/hltbApi"
@inject NavigationManager NavigationManager
@using BlazorJS
@inject IJSRuntime JS
<Scripts src="assets/js/swagger.js"></Scripts>

<div id="swagger-ui" crossover>Swagger UI div</div>

@code {
    private ElementReference divElement;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.DInvokeVoidAsync(window => window.loadSwagger());
        }
    }
}
